﻿
@{
    Layout = null;
}

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link href="~/Content/plugins/jQuery-File-Upload/css/jquery.fileupload.css" rel="stylesheet" />

<div id="file-upload-container">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="UploadedFile">
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <br>
    <!-- The container for the uploaded files -->
    <div id="files" class="files row"></div>
</div>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="~/Content/plugins/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="~/Content/plugins/jQuery-File-Upload/js/vendor/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="~/Content/plugins/jQuery-File-Upload/js/vendor/canvas-to-blob.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="~/Content/plugins/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="~/Content/plugins/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="~/Content/plugins/jQuery-File-Upload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="~/Content/plugins/jQuery-File-Upload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
@*<script src="~/Content/plugins/jQuery-File-Upload/js/jquery.fileupload-audio.js"></script>*@
<!-- The File Upload video preview plugin -->
@*<script src="~/Content/plugins/jQuery-File-Upload/js/jquery.fileupload-video.js"></script>*@
<!-- The File Upload validation plugin -->
<script src="~/Content/plugins/jQuery-File-Upload/js/jquery.fileupload-validate.js"></script>
@*<script src="~/Content/plugins/jQuery-File-Upload/custom-file-upload.js"></script>*@
<script src="~/Content/plugins/jQuery-File-Upload/custom-file-upload.js"></script>
@*<script>

        $.getScript("~/Content/plugins/jQuery-File-Upload/custom-file-upload.js")
              .done(function (script, textStatus) {
                  console.log("done getting custom file script");
              })
              .fail(function (jqxhr, settings, exception) {
                  console.log("fail getting custom file script");
              });

    </script>*@

