﻿@model AhhaBllboard.Core.Model.Food

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Food</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VideoUrl, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
            <div id="video-file-upload">
            </div>
            @Html.ValidationMessageFor(model => model.VideoUrl, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FoodImages, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div id="images-file-upload">
            </div>
            <div id="images-hidden-values">
                @*<input type="hidden" name="FoodImages[]" value="" />*@
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $.get("/Files/RenderPartialFileUpload").done(function (data) {
            //$("#gallery-file-upload").html(data);
            //initializeFileUpload('#gallery-file-upload #file-upload-container', null, null, true);
            $("#video-file-upload").html($(data).clone());
            initializeFileUpload('#video-file-upload #file-upload-container', null, function (data) {
                console.log(data);
                $.each(data.result.files, function (index, file) {
                    if (file.url) {
                        $("#VideoUrl").val(file.url);
                    }
                });
                toastr.info('success');
            }, false);

            $("#images-file-upload").html($(data).clone());
            initializeFileUpload('#images-file-upload #file-upload-container', null, function (data) {
                console.log(data);
                
                $.each(data.result.files, function (index, file) {
                    
                    if (file.url) {
                        let hidden = "";
                        hidden += `<input type="hidden" name="FoodImages[${$("#images-hidden-values input").length}].Url" value="${file.url}" />`;
                        $("#images-hidden-values").append(hidden);
                    }
                    
                });
                
                toastr.info('success');
            }, true);
        });
    </script>
}
