﻿@model AhhaBllboard.Core.Model.Food

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>

        <dd>
            @if(!string.IsNullOrEmpty(Model.VideoUrl)) { 
                <a href="@Model.VideoUrl">@Model.VideoUrl</a>
            }
           
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodImages)
        </dt>

        <dd>
            @if(Model.FoodImages != null)
            {
                foreach(var img in Model.FoodImages)
                {
                    <a href="@img.Url">@img.Url</a>
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FoodId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
