﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Content/sb-admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    @*<link href="/Content/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <!-- Custom CSS -->
    <link href="/Content/sb-admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Content/sb-admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Content/sb-admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Content/sb-admin/dist/js/sb-admin-2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
